.App {
  border: 3px solid red;
}


.Home {
  border: 3px solid green;
  margin: 10px;
}


.child1 {
  border: 3px solid blue;
  margin: 10px;
}

.child2 {
  border: 3px solid rgb(255, 0, 242);
  margin: 10px;
}